black
detect-secrets
flake8
h5py
h5tree
ipympl
ipywidgets
isort
jsonargparse[signatures]
jupyterlab
lightning
numpy
openai
pandas
pqdm
pre-commit
scikit-learn
scikit-survival
scipy
seaborn
statannotations
statsmodels
tableone
tensorboard
torch
tqdm
transformers
vllm
wandb
omegaconf
git+https://github.com/StevenSong/BulkRNABert.git
